{% extends 'base.html.twig' %}

{% block title %}Partie n° {{ contest.id}}{% endblock %}
{% block titreH1 %}Partie n° {{ contest.id}}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contest.id }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ contest.startDate ? contest.startDate|date('d/m/Y') : '' }}</td>
            </tr>

            <tr>
                <th>Joueurs</th>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Nickname</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for player in contest.players %}
                            <tr>
                                <td>{{ player.id }}</td>
                                <td>{{ player.email }}</td>
                                <td>{{ player.nickname }}</td>
                              
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">no records found</td>
                            </tr>
                        {% endfor %}

                        
                        </tbody>
                    </table>
                                </td>
            </tr>
            <tr>
                <th>Winner</th>
                <td>{{ contest.winner ? contest.winner.nickname : "Non désigné"}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_contest_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_contest_edit', {'id': contest.id}) }}">modifier</a>

    {{ include('admin/contest/_delete_form.html.twig') }}
{% endblock %}
