{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    {# Le formulaire est crée selon la classe qui est utilisé dans le contrôleur (dans la méthode createForm)
    Tous les champs déclarés dans cette classe seront affichés dans le formulaire, qu'ils soient explicitement indiqués dans le fichier twig ou non.    
     #}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe',
            help: '6 caractères minimum'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
