<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ game.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Déjà {{ game.contests|length }} parties jouées!</h6>
        <p class="card-text">
            Entre {{ game.minPlayers}} et {{ game.maxPlayers}} joueurs
        </p>
        <p> Joueurs ayant déjà participé :
            {% for partie in game.contests %}
                {% for joueur in partie.players %}
                    {{joueur.nickname}},
                {% endfor %}
            {% endfor %}
        </p>
        <a href="{{path('app_admin_new_game_contest', {'id': game.id}) }}" class="card-link">Commencer une partie</a>

        {# <a href="#" class="card-link">Another link</a> #}
    </div>
</div>